footer
{
	background: linear-gradient(90deg, rgb(240,240,240), white, rgb(240,240,240));
}

.footer_menu
{
	width: 100%;
	background: linear-gradient(90deg, #1f326d, #22397e);
}

.footer_nav
{
	display: flex;
	justify-content: center;
	align-items: center;
	
	list-style-type: none;
}

.footer_nav a
{
	display: flex;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color: white;
	font-size: small;
}

.footer_nav a:hover
{
	color: #FFD700;
	border-bottom: 1px solid #FFD700;
}


@media screen and (min-width: 720px)
{
	.footer_nav
	{	
		column-gap: 10%;
		height: 30px;

		padding-left: 30px;
		padding-right: 30px;
		
	}
}

@media screen and (max-width: 720px)
{
	.footer_nav
	{
		flex-direction: column;
		row-gap: 10px;
		height: fit-content;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media screen and (min-width: 600px)
{
	.footer_licence
	{
		height: 60px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.footer_logo img
	{
		margin-right: 15px;
	}
}

@media screen and (max-width: 600px)
{
	.footer_licence
	{
		flex-direction: column;
		column-gap: 30px;
		row-gap: 20px;

		padding: 20px 10px 0px 10px;
	}
}

@media screen and (max-width: 370px)
{
	.licence
	{
		width: 230px;
		text-align: center;
	}
}

.footer_licence
{
	display: flex;
	font-size: small;
	justify-content: space-between;
	align-items: center;
}

.footer_logo
{
	display: flex;
	align-items: center;
}

.social_links
{
	display: flex;
}

.social_links a
{
	display: flex;
}

.footer_logo img
{
	width: 22px;
	margin-right: 15px;
}

#img_yt
{
	margin-right: 0px;
}

#img_yt:hover
{
	content: url("images/yt_g.png");
}

#img_tw:hover
{
	content:  url("images/tw_g.png");
}

#img_fb:hover
{
	content:  url("images/fb_g.png");
}

#img_ig:hover
{
	content:  url("images/ig_g.png");
}
