#men
{
	color: #FFD700;
}

main
{
	display: flex;

	align-items: center;
	flex-direction: column;	

	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
}

.main_title
{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.main_title h1
{
	font-size: medium;
}

.main_title h2
{
	font-size: xx-large;
}

section
{
	display: flex;

	width: 100%;
	margin: 30px 30px 0px 30px;
	
	overflow: hidden;
}

.message
{
	display: flex;
	align-items: center;
	flex-direction: column;

	text-align: center;
	height: fit-content;

	background-color: white;
	padding: 20px 15px 25px 15px;
}

aside
{
	display: flex;
	width: 80%;
	border-bottom: 2px solid #22397e;
	justify-content: space-between;
}

.message p
{
	font-size: large;
	padding-top: 5px;
	padding-bottom: 5px;
}

.message p:first-of-type
{
	text-align: left;
	width: 80%;
}

.price
{
	width: fit-content;
}


.message strong
{
	text-decoration: none;
	font-size: x-large;
}

.message a
{
	text-decoration: none;
	padding-top: 5px;
}

.selection img 
{
	width: 90%;
}

.selection a 
{
	width: 90%;

	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}

.selection p a:hover
{
	text-decoration: underline;
}

.page_nb
{
	font-size: large;
}

.page_nb a
{
	font-family: 'main_font_bold';
	text-decoration: none;
}

.page_nb a:hover
{
	color: #FFD700;
}

@media screen and (min-width: 1100px)
{
	section
	{
		justify-content: center;
	}

	.message
	{
		width: 33%;
	}

	.selection
	{
		column-gap: 20px;
	}
	
	.selection .message a 
	{
		text-decoration: none;
	}
}

@media screen and (max-width: 1100px)
{
	section
	{
		flex-direction: column;
		align-items: center;
	}

	.message
	{
		width: 95%;
	}

	.selection
	{
		row-gap: 50px;
	}

	.selection .message
	{
		align-items: center;
		width: 100%;
	}
}