#men
{
	color: #FFD700;
}

main
{
	display: flex;
	height: 1000px;

	align-items: center;
	flex-direction: column;	

	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
}

.main_title
{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	align-items: center;
}

.main_title h1
{
	font-size: x-large;
}

.main_title h2
{
	font-size: medium;
}

section
{
	display: flex;
	row-gap:  10px;
	justify-content: center;

	width: 100%;
	height: 100%;
	margin: 30px 30px 0px 30px;
}

.main_title a 
{

	text-align: center;
	width: 280px;

	margin-top: 20px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	text-decoration: none;

	color: white;
	background: linear-gradient(90deg, #22397e, #1f326d);
}

.main_title a:hover
{
	background: linear-gradient(90deg, #2e50b6, #264399);
	text-decoration: none;
}


@media screen and (max-width: 780px)
{
	.main_title a
	{
		width: 90%;
	}
}