*
{
	margin: 0px;
	padding: 0px;
}

@font-face
{
	font-family: 'main_font';
	src: url('font/Quicksand_regular.otf');
}

@font-face
{
	font-family: 'main_font_bold';
	src: url('font/Quicksand_bold.otf');
}

@font-face
{
	font-family: 'main_font_light';
	src: url('font/Quicksand_light');
}

body
{
	background: linear-gradient(90deg, rgb(240,240,240), white, rgb(240,240,240));
	font-family: 'main_font';
	color: #22397e;

 	-moz-user-select: none; /* Firefox */
 	-webkit-user-select: none; /* Chrome, Safari, Opéra depuis ver. 15 */
	-ms-user-select: none; /* IE depuis ver. 10 & Edge */
 	user-select: none; /* Propriété standard */

}

a
{
	color: #22397e;
}

a:visited
{
	color: #22397e;
}
	
.banner_img
{
	display: flex;
	width: 100%;
	align-items: center;
	column-gap: 5px;
}

.img_homepage
{
	display: block;
	width: 33%;
	justify-content: center;
	overflow: hidden;
	bottom: 0px;
}

.img_homepage img
{
	width: 100%;
}


.img_homepage div
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	position: relative;
	top: -110px;
	left: 10%;

	width: 80%;
	height: 40px;

	font-family: 'main_font_bold';
}

.discover
{
	color: darkblue;
	text-transform: uppercase;
	font-size: large;
}

.catg
{
	background-color: white;
	border-radius: 3px;
}

.footer_menu
{
	width: 100%;
	background: linear-gradient(90deg, #1f326d, #22397e);
}

.footer_nav
{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 80px;
	flex-direction: row;

	list-style-type: none;
	height: 30px;
}

.footer_nav a
{
	display: flex;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color: white;
	font-size: small;
}

.footer_nav a:hover
{
	color: #FFD700;
	border-bottom: 1px solid #FFD700;
}

.footer_licence
{
	display: flex;
	font-size: small;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin-left: 30px;
	margin-right: 30px;
}

.footer_logo
{
	display: flex;
	align-items: center;
}

.social_links
{
	display: flex;
}

.social_links a
{
	display: flex;
}

.footer_logo img
{
	width: 22px;
	margin-right: 15px;
}

#img_yt
{
	margin-right: 0px;
}

#img_yt:hover
{
	content: url("images/yt_g.png");
}

#img_tw:hover
{
	content:  url("images/tw_g.png");
}

#img_fb:hover
{
	content:  url("images/fb_g.png");
}

#img_ig:hover
{
	content:  url("images/ig_g.png");
}