*
{
	margin: 0px;
	padding: 0px;
}

@font-face
{
	font-family: 'main_font';
	src: url('font/Quicksand_regular.otf');
}

@font-face
{
	font-family: 'main_font_bold';
	src: url('font/Quicksand_bold.otf');
}

@font-face
{
	font-family: 'main_font_light';
	src: url('font/Quicksand_light');
}

body
{
	background: linear-gradient(90deg, rgb(240,240,240), white, rgb(240,240,240));
	font-family: 'main_font';
	color: #22397e;

 	-moz-user-select: none; /* Firefox */
 	-webkit-user-select: none; /* Chrome, Safari, Opéra depuis ver. 15 */
	-ms-user-select: none; /* IE depuis ver. 10 & Edge */
 	user-select: none; /* Propriété standard */

}

a:visited
{
	color: #22397e;
}

.header
{
	display: flex;
	flex-direction: column;
	background: linear-gradient(90deg, rgb(240,240,240), white, rgb(240,240,240));
	position: sticky;
	top: 0px;
	box-shadow: 0px 0px 10px rgb(15, 15, 15);
	z-index: 1000;
}

.pannel
{
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 60px;
	position: relative;
}

.name
{
	display: flex;
	width: 33.33%;
}

.name a
{
	display: flex;
	flex-direction: row;
	position: relative;

	width: fit-content;
	text-decoration: none;
}

.name h1
{
	font-size: 40px;
}

.name a span
{
	position: absolute;
	left: 39px;
	top: 10px;
}

.name > a:hover h1
{
	color: #FFD700;
}

.name > a:hover span 
{
	color: #FFD700;
}

.pannel_center
{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 33.33%;
}

.search_bar
{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	height: 33px;
	padding: 0px 10px 0px 10px;
	background-color: white;
	border-style: solid;
	border-radius: 2px;
}

.search_bar form
{
	display: flex;
	align-items: center;
	width: 100%;
}

.search
{
	line-height: normal;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: none;
}

.search:focus
{
	font-style: normal;
	border: none;
	outline: none;
	color: #22397e;
}

.search_bar img
{
	height: 18px;
	margin-top: 3px;
}



@media screen and (min-width: 780px)
{
	.pannel
	{
		margin: 0px 30px 0px 30px;
	}

	.rmenu
	{
		display: none;
	}

	.search_bar
	{
		min-width: 466px;
	}

	.search_bar img
	{
		margin-top: 3px;
	}

	.large_search
	{
		display: none;
	}

	.actions a
	{
		padding-right: 2px;
	}

	.actions_logo img
	{
		padding-left: 5px;
	}

	.menu
	{
		display: flex;
	}
}

.actions
{
	display: flex;
	column-gap: 20px;
	justify-content: flex-end;

	width: 33.33%;
}

.actions a
{
	display: flex;
	align-items: center;

	text-decoration: none;

	padding-top: 1px;
	border-bottom: 1px solid transparent;
}

.actions a:hover
{
	border-bottom: 1px solid #22397e;
}

.actions_logo img
{
	padding-top: 5px;
}

#img_bag
{
	padding-top: 3px;
	height: 19px;
	width: 16px;
}

#img_heart
{
	height: 16px;
}

#img_user
{
	height: 18px;
}

@media screen and (max-width: 1250px)
{
	.actions span
	{
		display: none;
	}
}

@media screen and (max-width: 780px)
{
	.pannel
	{
		margin: 0px 15px 0px 15px;
	}

	.rmenu
	{
		display: flex;
		width: 33.33%;
	}

	.rmenu label
	{
		cursor: pointer;
	}

	.pannel label
	{
		font-size: x-large;
		width: fit-content;
		height: fit-content;
		background: none;
		border: none;
	}

	.pannel label:hover
	{
		color: #FFD700;
	}

	.pannel input
	{
		color: white;
	}

	.name
	{
		justify-content: center;
	}

	.pannel_center
	{
		display: none;
	}

	.large_search
	{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		background: linear-gradient(90deg, #1f326d, #22397e);
	}

	.search_bar
	{
		width: 100%;
		margin-left: 8px;
		margin-right: 8px;
	}

	.menu
	{
		display: none;
	}

	.rmenu label:checked .menu
	{
		display: none;
	}
}

.menu
{
	justify-content: center;
	width: 100%;
	justify-content: center;
	margin: 0 auto;
	background: linear-gradient(90deg, #1f326d, #22397e);
}

.menu ul
{
	list-style-type: none; /*pas de puce*/
}

.menu a
{
	display: block; /*tout le block est cliquable*/
	text-decoration: none; /*pas de soulignement auto*/
	width: 150px;
	border-bottom: 3px solid transparent; /*bordure transparente pour éviter un décallement*/
	padding: 10px 0px;
	color: white;
}

.menu a:hover
{
	color:  #FFD700;
	border-bottom: 3px solid  #FFD700;
}

.option
{
	display: inline-flex; /*alignement des éléments*/
	justify-content: center;
	text-align: center;
	font-family: 'main_font_bold';	
}

.sub-menu
{
	display: none;
	position: absolute;
	justify-content: center;

	column-gap: 60px;
	padding: 15px 0px 20px 0px;

	top: 100px;
	left: 0px;
	width: 100%;

	background-color: white;
	z-index: 1000;
}

#blur
{
	display: none;
	position: absolute;
	left: 0px;
	width: 100%;
	pointer-events: none;
}

.blur:hover
{
	display: none;
}

.option:hover .sub-menu
{
	display: flex;
}

.option:hover #blur
{
	display: flex;
}

.sub-menu a
{
	width: fit-content;
	padding: 0px 0px;
	border-bottom: 1px solid transparent;
	color: #22397e;
}

.sub-menu a:hover
{
	color : #22397e;
	border-bottom: 1px solid #22397e;
}

.cat_sub-menu
{
	text-align: left;

}

.option_sub-menu 
{
	display: flex;
	flex-direction: column;
	row-gap: 7px;

	font-family: "main_font";
	padding-top: 15px;
}
	
.banner_img
{
	display: flex;
	width: 100%;
	align-items: center;
	column-gap: 5px;
}

.img_homepage
{
	display: block;
	width: 33%;
	justify-content: center;
	overflow: hidden;
	bottom: 0px;
}

.img_homepage img
{
	width: 100%;
}


.img_homepage div
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	position: relative;
	top: -110px;
	left: 10%;

	width: 80%;
	height: 40px;

	font-family: 'main_font_bold';
}

.discover
{
	color: darkblue;
	text-transform: uppercase;
	font-size: large;
}

.catg
{
	background-color: white;
	border-radius: 3px;
}

.footer_menu
{
	width: 100%;
	background: linear-gradient(90deg, #1f326d, #22397e);
}

.footer_nav
{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 80px;
	flex-direction: row;

	list-style-type: none;
	height: 30px;
}

.footer_nav a
{
	display: flex;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color: white;
	font-size: small;
}

.footer_nav a:hover
{
	color: #FFD700;
	border-bottom: 1px solid #FFD700;
}

.footer_licence
{
	display: flex;
	font-size: small;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin-left: 30px;
	margin-right: 30px;
}

.footer_logo
{
	display: flex;
	align-items: center;
}

.social_links
{
	display: flex;
}

.social_links a
{
	display: flex;
}

.footer_logo img
{
	width: 22px;
	margin-right: 15px;
}

.footer_logo svg
{
	viewBox: fit-content;
	color: #22397e;
	width: 22px;
}

#img_yt
{
	margin-right: 0px;
}

#img_yt:hover
{
	content: url("images/yt_g.png");
}

#img_tw:hover
{
	content:  url("images/tw_g.png");
}

#img_fb:hover
{
	content:  url("images/fb_g.png");
}

#img_ig:hover
{
	content:  url("images/ig_g.png");
}