*
{
	margin: 0px;
	padding: 0px;
}

@font-face
{
	font-family: 'main_font';
	src: url('font/Quicksand_regular.otf');
}

@font-face
{
	font-family: 'main_font_bold';
	src: url('font/Quicksand_bold.otf');
}

@font-face
{
	font-family: 'main_font_light';
	src: url('font/Quicksand_light');
}

body
{
	background: linear-gradient(90deg, rgba(34,57,126, 0.15), rgb(240,240,240), rgba(34,57,126, 0.15));
	font-family: 'main_font';
	color: #22397e;

 	
 	user-select: none; /* Propriété standard */
}

a
{
	color: #22397e;
}

a:visited
{
	color: #22397e;
}